.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.larger-textbox {
  margin: 10px 0;
  padding: 30px;
}

/* Spacing */

.align-right {
  text-align: right;
}

.align-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.margins {
  margin: 1.5rem;
}

.margin-left {
  margin-left: 1.5rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-right {
  margin-right: 1rem;
}

.inline-block {
  display: inline-block;
}

.center-text {
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* Responsive layout  */

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 2rem;
  }

  .column-half {
    width: 50%;
  }
}
