/* header {
  padding-left: 1rem;
} */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #ecebec;
}

/* main {
  margin: 1.5rem;
} */

button {
  background-color: #4c2373;
  color: white;
  text-transform: uppercase;
  border: #4c2373;
  border-radius: 7px;
  padding: 10px 20px;
}

img {
  max-width: 100%;
  padding-bottom: 1rem;
}

/* Input */

input {
  margin: 10px 0;
  padding: 5px 0;
}

input:focus {
  border: 3px solid #4c2373;
  outline: none;
}

/* Background, font, text styles */

.purple-bg {
  background-color: #4c2373;
}

.white-text {
  color: white;
}

/* List styling */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Nav Bar */

a {
  text-decoration: none;
}

/* Editing */
.pencil {
  font-size: 24px;
  color: #4c2373;
  margin-left: 14rem;
}

/* Delete Link */
.delete-link {
  color: red;
  text-decoration: underline;
}

a:hover,
h2:hover,
button:hover,
.pencil:hover,
.delete-link:hover {
  cursor: pointer;
}

/* Modal */
.modal-bg {
  /* display: none; */
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up {
  background-color: white;
  margin: 15% auto;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30%;
}

.cancel-button {
  background-color: rgb(186, 185, 185);
  color: black;
}

.confirm-button {
  background-color: red;
}
